# Pocket judge
allow system_server pocket_service:service_manager { add find };

# DC Dimming
allow system_server vendor_sysfs_dc_dim:file rw_file_perms;
add_service(system_server, dc_dimming_service);

# Applock
add_service(system_server, app_lock_service);

# Optimized Charge Control
hal_client_domain(system_server, hal_chargecontrol);

# Freeform
add_service(system_server, lmo_freeform_service);

# Game space
add_service(system_server, game_space_service);
